*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(243, 238, 225);
}
/* top */
.line{
    color: gray;
    font-size: 18px;
    margin: 0 0.5em;
}
.top{
    background-color: #333;
    margin-top: 0px;
    padding: 0px;
    height: 48px;
    width: 100%;
    min-width: 1200px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.container{
    width: 1200px;
    margin: auto;
}
.top-nav::before , .top-nav::after{
    content: "";
    display: table;
}
.top-nav::after{
    clear: both;
}
.top-nav-left{
    float: left;
}
.top-nav-right , .top-nav-cart{
    float: right;
}
.top-nav-main{
    margin:0;
    padding: 0 0.5em;
    height: 48px;
    line-height: 48px;
}
.top-nav-main a{
    color: #F0F0F0;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 48px;
    width: 128px;
}
.top-nav-main a:hover{
    color: mediumslateblue;
}
.top-nav-cart a{
    display: block;
    height: 48px;
    width: 128px;
    text-align: center;
    background-color: gray;
}
.top-nav-cart a:hover{
    background-color: #F0F0F0;
    color: black;
}
/* main */
.main{
    margin: 16px auto;
    min-width: 1200px;
}
.main-item{
    height: 150px;
    border: 4px dashed green;
    margin: 16px 0px;
}
.main-item-img{
    float: left;
    display: block;
    border: 4px dashed green;
    height: 96px;
    width: 96px;
    margin: 24px 48px;
}
.main-item-text{
    float: left;
    display: block;
    font-size: 26px;
    margin: 54px 36px;
}
.main-item-price{
    float: right;
    display: block;
    font-size: 26px;
    margin: 54px 36px;
    color: red;
}

/*这些都是没有后端时的临时功能*/
#topAfterLog{
    display: none;
}